<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558705895015-6dh9mbgq7023bui059upoc0l2ceqg186.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558705895015-6dh9mbgq7023bui059upoc0l2ceqg186</string>
	<key>API_KEY</key>
	<string>AIzaSyByclyO9aj9HWDJ4Uo3hu-tJmoK_YuXGqA</string>
	<key>GCM_SENDER_ID</key>
	<string>558705895015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easy-life.easy-life-app</string>
	<key>PROJECT_ID</key>
	<string>easy-life-test-3a81c</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-life-test-3a81c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558705895015:ios:b2df5ddd57a270700c56c2</string>
</dict>
</plist>